Origin: XBian
Package: xbian-package-sickbeard-tpb
Version: 1.0
Section: net
Priority: optional
Architecture: armhf
Depends: xbian-update, python-cheetah, git-core
Replaces: xbian-package-sickbeard
Maintainer: sjengfred <sjengfred@home.nl>
Description: SickBeard TPB compiled, patched and configured for XBian
